/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*/////////////////// Begin Custom Styles ////////////////////*/

/*///////////// COLORS ////////////////*/
/* http://www.colourlovers.com/palette/4018571/Crimea */

body {
	background-color: #88f3a2;
  font-family: helvetica, sans-serif;
}

/*/////////////////// Button Panel ////////////////////*/
.button-panel, .final-panel {
	position: fixed;
	top: 0;
	padding: 30px 0;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.button-panel div {
	display: inline-block;
	width: 49.5%;
}

.button-panel div:first-of-type {
	color: #14CE42;
	border-right: 2px dotted #ccc;
}

.button-panel div:last-of-type {
	color: #CE4414;
}

.button-panel label {
	display: block;
	margin: 0 0 8px 40px;
}

.button-panel input {
	margin-right: 13px;
	width: 40px;
	height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.button-panel input:first-of-type {
	margin-left: 40px;
}

.button-panel input:last-of-type {
	margin-right: 0;
	border: 1px solid #CE4414;
}

button {
	display: block;
	margin: 0 auto;
	margin: 0 0 25px 40px;
	padding: 12px 18px;
	background-color: #fff;
	color: #14CE42;
	font-size: 18px;
	border: 2px solid #14CE42;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease;
}

button:hover {
	background-color: #14CE42;
	color: #fff;
}

div.draw button {
	color: #CE4414;
	border: 2px solid #CE4414;
}

div.draw button:hover {
	background-color: #CE4414;
	color: #fff;
}

.button-panel div button:last-of-type {
	display: inline-block;
	margin-bottom: 0;
}

.error-message {
	padding: 30px 0 0 40px;
	color: #CE4414;
}

/*/////////////////// Final Panel ////////////////////*/
.final-panel {
	/*display: none;*/
}

.final-panel div {
	width: 362px;
  display: inline-block;
}

.final-panel label {
	color: #CE4414 !important;
}

.final-panel button {
	margin: 0;
}

/*/////////////////// Ticket Numbers List ////////////////////*/
.your-numbers {
	margin-top: 207px;
	height: auto;
}

div.play {
	padding: 20px 40px;
}

div.play:nth-child(even) {
	background-color: #59ef7e;
}

div.play:last-of-type {
	padding-bottom: 30px;
}

div.play label {
	display: block;
	margin-bottom: 15px;
	color: #fff;
}

div.play ul {
	display: inline-block;
	padding: 0;
	width: 400px;
}

/* I need to figure out why the mystery div is here in the dom */
div.play div {
	display: none;
}

div.play div.outcome {
	display: inline-block; /* Once I figure out the mystery div I wont have to explicitly display */
	margin-left: 5px;
}

div.outcome p {
	display: inline-block;
	padding: 0 20px;
	background-color: #fff;
	border-radius: 3px;
  line-height: 3;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
}

div.play p span.win {
	color: #0fa033;
}

div.play ul li {
	display: inline-block;
  padding: 10px;
	margin-right: 20px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
}

div.play ul li:last-of-type {
	background-color: #CE4414;
	color: #fff;
}

div.play ul li.drawn-number {
	background-color: #F9E472;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

div.play ul li:last-of-type.drawn-number {
	background-color: #F9E472;
	border: 3px solid #CE4414;
	color: #CE4414;
}

/*/////////////////// Utility ////////////////////*/

.show {
	display: inline-block;
}

.hide {
	display: none;
}












